.tweet-history {
  .tweet {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 20px;

    .tweet-header {
      font-family: 'Helvetica Neue', Arial, sans-serif;
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input,
    textarea {
      border-radius: 5px;
      font-family: 'Helvetica Neue', Arial, sans-serif;
      padding: 5px;
    }
  }

  .toggle-tweet-form {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #1DA1F2;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .toggle-tweet-form:hover {
    background-color: #0c87b8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
}
