.tweet-history {
  .tweet {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 20px;

    .tweet-header {
      font-family: 'Helvetica Neue', Arial, sans-serif;
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;
    }
  }
}
