//.reply {
//  .reply-item {
//    font-family: 'Helvetica Neue', Arial, sans-serif;
//    padding: 10px;
//    border: 1px solid #ccc;
//    border-radius: 5px;
//    margin-bottom: 10px;
//
//    .reply-header {
//      border-radius: 5px;
//      display: flex;
//      justify-content: space-between;
//      font-size: 0.9rem;
//    }
//  }
//
//  form {
//    display: flex;
//    flex-direction: column;
//    gap: 10px;
//
//    input,
//    textarea {
//      border-radius: 5px;
//      font-family: 'Helvetica Neue', Arial, sans-serif;
//      padding: 5px;
//    }
//  }
//}
form, .reply-item {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px lightgray;
  input[type="text"], textarea, button {
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-right: 10px;
  }
  input[type="text"] {
    width: 70%;
    &::placeholder {
      color: gray;
    }
  }
  button {
    background-color: lightgray;
    cursor: pointer;
    &[type="submit"] {
      background-color: dodgerblue;
      color: white;
    }
  }
  .reply-header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: gray;
    margin-bottom: 10px;
  }
  h3 {
    margin-top: 0;
  }
  p {
    margin-top: 10px;
    font-size: 14px;
  }
  img {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin-top: 10px;
  }
}
