<div class="reply">
  <form *ngIf="selectedTweetId === tweetId" (ngSubmit)="createReply()" #replyForm="ngForm">
    <input type="text" placeholder="Username" [(ngModel)]="reply.user_name" name="user_name" required>
    <input type="text" placeholder="Title" [(ngModel)]="reply.title" name="title" required>
    <textarea placeholder="Reply" [(ngModel)]="reply.post" name="post" required></textarea>
    <input type="file" (change)="onFileSelected($event)"/>
    <button type="submit">Post Reply</button>
    <button type="button" (click)="selectedTweetId = null">Cancel</button>
  </form>

  <div *ngFor="let reply of replies | orderBy: 'id':true" class="reply-item">
    <div class="reply-header">
      <span>{{ reply.user_name }}</span>
      <span>{{ reply.date | date: 'MMM d, y, h:mm a z' }}</span>
    </div>
    <h3>{{ reply.title }}</h3>
    <p>{{ reply.post }}</p>
    <img *ngIf="reply.img" [src]="reply.img" alt="Reply image" class="reply-image"/>
    <button mat-button (click)="deleteReply(reply.id)">Delete</button>
    <button mat-button (click)="toggleEditMode(reply)">Edit</button>

    <form *ngIf="reply.editMode" [formGroup]="editReplyForm">
      <input formControlName="title" [(ngModel)]="reply.title" placeholder="Title"/>
      <textarea formControlName="reply" [(ngModel)]="reply.post" placeholder="Reply"></textarea>
      <div>
        <input type="file" (change)="onFileSelected($event)"/>
        <button (click)="saveChanges(reply)">Save</button>
      </div>
    </form>

  </div>
</div>

