.tweet-form-container {
  max-width: 600px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%;

  input,
  textarea {
    border-radius: 5px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    padding: 5px;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-preview-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      margin-bottom: 10px;

      .image-preview {
        display: block;
        max-width: 300px;
        max-height: 300px;
        margin: 0 auto;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }

    .input-file-btn {
      display: inline-block;
      background-color: #1da1f2;
      color: #fff;
      border: none;
      border-radius: 20px;
      padding: 5px 15px;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;
      margin-top: 10px;
      height: 20px;
      width: auto;

      &:hover {
        background-color: #0c87b8;
      }

      input[type="file"] {
        display: none;
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    button {
      padding: 5px 15px;
      border-radius: 20px;
      border: none;
      font-weight: bold;
      font-size: 1rem;
      background-color: #1DA1F2;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: #0c87b8;
      }
    }
  }

}

