<!--<button (click)="toggleTweetForm()">Post Tweet</button>-->
<!--<div *ngIf="showTweetForm">-->
<!--<form (ngSubmit)="createTweet()" #tweetForm="ngForm">-->
<!--  <input type="text" placeholder="Username" [(ngModel)]="tweet.user_name" name="user_name" required>-->
<!--  <input type="text" placeholder="Title" [(ngModel)]="tweet.title" name="title" required>-->
<!--  <textarea placeholder="Post" [(ngModel)]="tweet.post" name="post" required></textarea>-->
<!--  <input type="file" (change)="onFileSelected($event)"/>-->
<!--  <button type="submit">Post Tweet</button>-->
<!--</form>-->
<!--</div>-->


<div style="display: flex; justify-content: center; margin-bottom: 20px;">
  <button (click)="toggleTweetForm()">Post Tweet</button>
</div>
<div *ngIf="showTweetForm">
  <form (ngSubmit)="createTweet()" #tweetForm="ngForm">
    <input type="text" placeholder="Username" [(ngModel)]="tweet.user_name" name="user_name" required>
    <input type="text" placeholder="Title" [(ngModel)]="tweet.title" name="title" required>
    <textarea placeholder="Post" [(ngModel)]="tweet.post" name="post" required></textarea>
    <input type="file" (change)="onFileSelected($event)"/>
    <button type="submit">Post Tweet</button>
  </form>
</div>

